name: CI first code check

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag for manually running CI first code check workflow
        required: False
        default: ''
  workflow_call:

jobs:

  first_check:
    name: first code check / python-3.13 / ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Python info
        run: |
          which python
          python --version

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      
      - name: Install dependencies
        run: |
          # Add --locked flag, after lockfile for all platforms with all optional deps is generated
          # Just install cpu for now
          uv sync --extra cpu --dev
      
      - name: Show pip list
        run: |
          uv pip list
  
      - name: Test with coverage
        run: |
          uv run pytest --cov --cov-report term --cov-report xml --junitxml=xunit-result.xml
  
      - name: Correct coverage paths
        run: sed -i "s+$PWD/++g" coverage.xml
  
      - name: Run ruff linter
        run: uv run ruff check --output-format=github