name: CI first code check

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag for manually running CI first code check workflow
        required: False
        default: ''

jobs:

  first_check:
    name: first code check / python-3.13 / ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Python info
        run: |
          which python
          python --version

      - name: Install uv
        uses: astral-sh/setup-uv@v4
      
      - name: Install dependencies
        run: |
          uv pip install --system -e ".[dev]"
  
      - name: Show pip list
        run: |
          pip list
  
      - name: Test with coverage
        run: |
          pytest --cov --cov-report term --cov-report xml --junitxml=xunit-result.xml
  
      - name: Correct coverage paths
        run: sed -i "s+$PWD/++g" coverage.xml
  
      - name: Run ruff linter
        run: ruff check --output-format=github